EVENTSUB_URL = 
CLIENT_ID = 
ACCESS_TOKEN = 

# Your Twitch Account ID
USER_ID = 

BROADCASTER_USERNAME = broadcaster_name_1,broadcaster_name_2,...

JDBC_URL = 

DB_NAME = 
DB_USER = 
DB_PASSWORD = 
DB_DRIVER = 

DB_IP = 
DB_PORT =